<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curioud.ksmtest.main.mapper.MainMapper">
  <select id="selectBoardList" resultType="map">
    SELECT
      NO,
      SUBJECT,
      CONTENT,
      CREATED_DATE,
      UPDATED_DATE,
      DELETED_YN
    FROM BOARD
    WHERE DELETED_YN = FALSE
  </select>
</mapper>