<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>글 상세</h3>
  <table>
    <tr>
      <th>글번호</th>
      <td th:text="${board.NO}"></td>
    </tr>
    <tr>
      <th>제목</th>
      <td th:text="${board.SUBJECT}"></td>
    </tr>
    <tr>
      <th>내용</th>
      <td style="white-space: pre;" th:text="${board.CONTENT}"></td>
    </tr>
    <tr>
      <th>작성일</th>
      <td th:text="${#dates.format(board.CREATED_DATE, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
      <th>수정일</th>
      <td th:text="${board.UPDATED_DATE} ? ${#dates.format(board.UPDATED_DATE, 'yyyy-MM-dd')} : '-'"></td>
    </tr>
  </table>
  <div>
    <a th:href="@{|/board/modify/${board.NO}|}">수정하기</a>
  </div>
  <div>
    <form action="/board/do/delete-board" method="post">
      <input name="boardNo" type="hidden" th:value="${board.NO}">
      <input type="submit" value="삭제하기">
    </form>
  </div>
  <h3>댓글</h3>
  <table id="comment-box">
    <tr>
      <th>내용</th>
      <th>날짜</th>
    </tr>
  </table>
  <div id="create-comment">
    <input name="comment" type="text">
    <button type="button" onclick="sendComment()">작성하기</button>
  </div>
  <script th:inline="javascript">
    const board = /*[[${board}]]*/ null
    const boardNo = board.NO

    getComments()
      .catch((error) => {
        console.error('main error : ' + error)
      })

    // 댓글 가져오기
    function getComments() {
      return fetch(
        '/board/api/comments/' + boardNo)
        .then((response) => {
          throw Error('COMMENT ERROR')
          if (!response.ok) {
            throw Error('COMMENT ERROR')
          }
          return response.json()
        })
        .then((data) => {
          drawComments(data)
        })
        .catch((error) => {
          console.error('getComments Error : ' + error)
          throw error
        })
    }

    function drawComments(comments) {
      const commentBox = document.getElementById('comment-box')

      for (const comment of comments) {
        const newTagTr = document.createElement('tr')
        const commentElement = document.createElement('td')
        const dateElement = document.createElement('td')
        const date = formatDate(comment.CREATED_DATE)

        commentElement.textContent = comment.COMMENT
        dateElement.textContent = date

        newTagTr.classList.add('comment')

        commentBox.appendChild(newTagTr)
        newTagTr.appendChild(dateElement)
        newTagTr.appendChild(commentElement)
      }
    }

    function formatDate(date) {
      const newDate = new Date(date)

      const year = newDate.getFullYear()
      const month = newDate.getMonth() + 1
      const day = newDate.getDate()

      return year + '-' + month + '-' + day 
    }

    function sendComment() {
      const createComment = document.querySelector('#create-comment')
      const comment = createComment.querySelector('input[name="comment"]')
      const data = {
        comment: comment.value
      }

      fetch('/board/api/do/create-comment/' + boardNo, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(() => {
          const comments = document.querySelectorAll('#comment-box > .comment')
          
          for (const comment of comments) {
            comment.remove()
          }
          comment.value = ''
          return getComments()
        })
        .catch((error) => {
          console.error('sendComment Error : ' + error)
        })
    }
  </script>
</body>
</html>