<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>글 수정</h3>
  <div>
    <form action="/board/do/modify-board" method="post">
      <input name="no" type="text" th:value="${board.NO}">
      <div>
        제목 : <input name="subject" type="text" th:value="${board.SUBJECT}">
      </div>
      <div>
        내용 : <textarea name="content" cols="30" rows="10" th:text="${board.CONTENT}"></textarea>
      </div>
      <input type="submit" value="수정하기">
    </form>
    <br>
    <div>
      <input id="thumnail" name="file" type="file" onchange="previewImage()">
      <p>
        <div>이미지 미리보기 영역</div>
        <img id="image-preview" th:src="@{|/img/${board.THUMNAIL}|}" alt="">
      </p>
      <button onclick="sendFile()">이미지 등록</button>
    </div>
  </div>

  <script th:inline="javascript">
    const boardNo = /*[[${board.NO}]]*/ 0
    const file = document.querySelector('#thumnail')
    const imageBox = document.querySelector('#image-preview')

    function previewImage() {
      const reader = new FileReader();
      reader.onload = function (e) {
        imageBox.src = e.target.result;
      }
      reader.readAsDataURL(file.files[0]);
    }

    function sendFile() {
      const formData = new FormData()
      const file = document.querySelector('#thumnail')
      
      if (!file.files[0]) {
        alert('파일을 첨부해주세요')
        return
      }

      formData.append('file', file.files[0])

      fetch('/board/api/do/create-thumnail/' + boardNo, {
        method: 'PUT',
        body: formData,
      })
        .then((response) => {
          return response.json()
        })
        .then((data) => {
          alert('파일 업로드에 성공했습니다.')
          location.href = '/board/detail/' + boardNo
        })
        .catch((error) => {
          console.error('파일 업로드 실패')
          alert('파일 업로드에 실패했습니다.')
          location.href = '/board/detail/' + boardNo
        })
      
    }
  </script>
</body>
</html>