<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>글 상세</h3>
  <table>
    <tr>
      <th>글번호</th>
      <td th:text="${board.NO}"></td>
    </tr>
    <tr>
      <th>제목</th>
      <td th:text="${board.SUBJECT}"></td>
    </tr>
    <tr>
      <th>내용</th>
      <td style="white-space: pre;" th:text="${board.CONTENT}"></td>
    </tr>
    <tr>
      <th>작성일</th>
      <td th:text="${#dates.format(board.CREATED_DATE, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
      <th>수정일</th>
      <td th:text="${board.UPDATED_DATE} ? ${#dates.format(board.UPDATED_DATE, 'yyyy-MM-dd')} : '-'"></td>
    </tr>
  </table>

  <h3>댓글</h3>
  <table>
    <tr>
      <th>내용</th>
      <th>날짜</th>
    </tr>
  </table>
  <script>
    console.log('[[${board}]]')
  </script>
</body>
</html>